* {
	margin: 0;
}

#aaa {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#avatar {
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.yulan {
	width: 600px;
	height: 600px;
	overflow: scroll;
}
