.zcr-Modal-mask {
	top: 0;
	height: 100vh;
	width: 100vw;
	background: rgb(0, 0, 0);
	position: fixed;
	z-index: 1000;
	transition: 0.2s;
	opacity: 0;
}

.zcr-Modal-mask.active {
	opacity: 0.3;
}

.zcr-Modal {
	position: fixed;
	z-index: 1001;
	transition: 0.2s;
	transform: scale(0);
	transform-origin: center;
	background: #fff;
	border-radius: 4px;
	opacity: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.zcr-Modal.active {
	transform: scale(1);
	opacity: 1
}

.zcr-Modal>.zcr-Modal-title {
	padding: 10px 20px;
	position: relative;
	border-bottom: 1px solid #ccc;
}

.zcr-Modal>.zcr-Modal-title>.zcr-Modal-title-close {
	position: absolute;
	right: 20px;
	top: 10px;
	display: inline-block;
	cursor: pointer;
	border: 1px solid transparent;
	transition: 0.2s;
	padding: 0 5px;
}

.zcr-Modal>.zcr-Modal-title>.zcr-Modal-title-close:hover {
	border-color: #ccc;
}

.zcr-Modal>.zcr-Modal-content {
	padding: 30px 20px;
}
